{% extends "base2.html" %}

{% block title %}
	{% if tag %}
		Propostes de {{tag}} 
	{%else%}
		Propostes de programa
	{% endif %}
	{% endblock %} 
{% block scripts %}
<script>
$(document).ready(function() {
	/*$(".sector").each(function() {
		var sector = $(this).text();
		sector = sector.replace(/-/g, ' ');
		$(this).html('<strong>'+sector+'</strong>');
	});*/

	area="{{tag}}"
	infoObjetivo=apuestas[area];
	if(infoObjetivo!=null){
		$('.objetivo-descripcion').empty().html(infoObjetivo.descripcion)
		$('.objetivo-titulo').empty().html(infoObjetivo.titulo)
	}

	$.each(listobjetivos.objetivos, function(index,jsonObject){	   
			if(jsonObject.apuesta==area) 
	        $('#objetivos-area-'+area).append('<div class="col-xs-6"><a href="sector.php?sector='+jsonObject.id+'"><div class="objetivo "> ' +jsonObject.titulo+'</div></a></div>');	   
	});

	
});

</script>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h2 > <small><i>Àrea temàtica:</i></small> <br/><span class="objetivo-titulo"> </span></h2>
			<p class="objetivo-descripcion"> </p>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		Aquest àrea es composa dels següents objectius que pots explorar:
		</div>		
	</div>
	<div class="row" id="programa" >
		<div class="objetivos-container" id="col-{{tag}}">
			<div id="objetivos-area-{{tag}}"> 
			</div>
		</div>		
	</div>
	
	
	

	{% if user %}
	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-center">Què vols proposar per Burjassot? </h4>
			<a class="btn btn-success btn-lg btn-block" href="nueva-propuesta.php">PUJAR UNA NOVA IDEA</a>
		</div>
	</div>	
	{% else %}
	<div class="row">
		<div class="col-xs-12">
			<a href="login.php"> Has de tenir compte per fer una proposta. Registra't i participa-hi!</a>
		</div>
	</div>
	{% endif %}

	

	<script>
	
	$('#myTab a').click(function (e) {
	  	e.preventDefault();
	  	$(this).tab('show');
	})
	</script>
{% endblock%}
