{% extends "base2.html" %}

{% block title %} Entrar {% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

    $("#login_form").validate({
        rules: {
          email_login: {
            required: true,
            email: true,
          },
          pass_login: {
            required: true,
          },
        messages:{
          email_login: {
            required: "Has d'indicar un correu",
          }, 
          pass_login: {
            required: "Escriu la contrasenya",
          }
        },  
        }
    });
    $("#signup_form").validate({
        rules: {
          email_signup: {
            email:true,
            required:true,
            remote: "lib/validar_email_db.php",
          },
          pass_signup: "required",
          nombre: "required",
          apellidos: "required",
        },
        messages:{
          email_signup: {
            remote: "Aquest correu ja està registrat",
          },
          nombre: {
            required: "Escriu el teu nom",
          },
          apellidos: {
            required: "Escriu els teus cognoms",
          }, 
          pass_signup: {
            required: "Escriu una contrasenya",
          }
        },
    });


    if(getUrlVars()['page']=='error-captcha'){
            $('#login').hide();
            $('#forgot').hide();
            $('#signup').show();
            $('.signup-error').show();
    }
    if(getUrlVars()['page']=='registered'){            
            $('#login-intro-msg').empty().html('<span style="color:#00a48c; font-size:1.5em">Registre completat amb èxit! Entra ara i estrena el teu usuari!</span>');
    }
    if(getUrlVars()['page']=='email'){            
            $('#login-intro-msg').empty().html('<span style="color:#00a48c; font-size:1.1em">Hem enviat un correu amb la nova clau al teu correu. Mira al correu brossa si no el trobes!</span>');
    }

});
    function getUrlVars() {
        mstring = String( document.location.href ).replace( "#", "" );
    var vars = {};
    var parts = mstring.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
    }
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}    
    <div class="form-wrap">
        <div class="row">
            <div id="login">
                <div class="form-header">
                    <i class="fa fa-user"></i>
                    <h2>Entrar</h2>
                    <h5 style="color:#555; padding: 0em 1em;"id="login-intro-msg" > Per comentar o enviar propostes has de registrar-te. El registre és lliure, per això les decisions finals es prendran mitjançant votació segura.</h5>
                    {% if error %}
                    <p class="no_login">Usuari o contrasenya no vàlids. Intenta-ho de nou.</p>
                    {% endif%}
                </div>
                <form id="login_form"  method="post" action="entrar.php">
                <div class="form-main">
                    <div class="form-group">
                        <input type="text" name="email_login" id="email_login" class="form-control" placeholder="Email">
                        <input type="password" name="pass_login" id="pass_login" class="form-control" placeholder="Contraseña">
                    </div>
                    <button id="button_login" type="submit" class="btn btn-block signin">Entrar</button>
                </form>
                </div>
                <div class="form-footer">
                    <div class="row">
                        <div class="col-xs-7">                            
                            <a href="" id="forgot_from_1"><i class="fa fa-unlock-alt"></i><br/>Recordar contrasenya</a>
                        </div>
                        <div class="col-xs-5">
                            
                            <a href="" id="signup_from_1"><i class="fa fa-check"></i><br/>Registra't</a>
                        </div>
                    </div>
                </div>      
            </div>

            <div id="signup">
                <div class="form-header">
                    <i class="fa fa-user"></i>
                    <h2>Alta</h2>
                    <h5 class="signup-error"> Captcha incorrecte, prova-ho de nou</h5>
                </div>
                <form id="signup_form" method="post" action="alta.php">
                <div class="form-main">
                    <div class="form-group">
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nom">
                        <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Cognoms">
                        <input type="text" name="email_signup" id="email_signup" class="form-control" placeholder="Correu">
                        <input type="password" name="pass_signup" id="pass_signup" class="form-control" placeholder="Contrasenya">
                    </div>
					<div class="g-recaptcha" data-sitekey="6LerPwMTAAAAAFjtwKyWAlNhLjAZ8-6yS9U1C3hl"></div>
                    <button id="button_signup" type="submit" class="btn btn-block signin">Registrar-se</button>
                </form>
                </div>
                <div class="form-footer">
                    <p>Asumimos que al registrarte estás conforme amb el nostre avís legal.</p>
                </div>      
            </div>

            <div id="forgot">
                <div class="form-header">
                    <i class="fa fa-user"></i>
                    <h2>Recuperar contrasenya</h2>
                </div>
                <div class="form-main">
                <form id="form_forgot" method="post" action="forgot.php">
                    <div class="form-group">
                        <input type="text" name="email_forgot"id="email_forgot" class="form-control" placeholder="Email">
                    </div>
                    <button id="button_forgot" type="submit" class="btn btn-block signin">Recuperar contrasenya</button>
                </form>
                </div>  
            </div>
        </div>
    </div> 

    <script>

        $('#signup').hide();
        $('#forgot').hide();
        $('#login_from_1').click(function (e) {
            e.preventDefault();
            $('#signup').hide();
            $('#forgot').hide();
            $('#login').show();
        });
        $('#signup_from_1').click(function (e) {
            e.preventDefault();
            $('#login').hide();
            $('#forgot').hide();
            $('#signup').show();
            
        });
        $('#forgot_from_1').click(function (e) {
            e.preventDefault();
            $('#signup').hide();
            $('#login').hide();
            $('#forgot').show();
        })

    </script>                         
{% endblock %}