{% extends "base_envia.html" %}

{% block title %} Nova proposta {% endblock %}
{% block scripts %}

<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
	new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','link',]}).panelInstance('propuesta');
});
</script>
<script>
function getUrlVars() {
		mstring = String( document.location.href ).replace( "#", "" );
	var vars = {};
	var parts = mstring.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
	    vars[key] = value;
	});
	return vars;
}
$(document).ready(function() {
$('#footer').hide();
R.scaleAll(0.6);
	optionIsSelected=false;


	distrito = getUrlVars()["distrito"];
	objetivo = getUrlVars()["objetivo"];

	
	$("#nuevapropuesta").validate({
	    rules: {
	      titulo: {
			required: true,
	      },
	      propuesta: {
	      	required: true,
	      }
	    },
	    messages:{
	      titulo: {
			required: "Escriu un títol",
	      },
	      propuesta: {
	      	required: "Tria un sector",
	    }
	}
	});

//genera los objetivos bajo cada propuesta;
    $.each(listobjetivos.objetivos, function(index,jsonObject){

	        $('#lista-objetivos-'+jsonObject.apuesta).append('<label class="objetivo"><input type="radio" name="sector" class="'+
			'apuesta-' + jsonObject.apuesta +' " id="' + jsonObject.id+'" value="'+jsonObject.id+'"> ' + jsonObject.titulo+ ' </label>');
   
	});


	//distrito
	$('a#continue2').on('click',function(event){	 //viene de barrio
		event.preventDefault();
		
		if( $("#nuevapropuesta").valid()==true){
			$('#step-elige').hide();
			$('.apuesta input').prop('checked', false);
			$('#form-seleccion-objetivos').find('label').removeClass('active');	
			
			if( typeof distrito != 'undefined' && (distrito.length >5)){ // vienen de una página de distrito a añadir algo
				$('#step-distritos').show();
				//$('#step-elige-previous').show();
				$('#step-distritos h3.titulo1').empty().text('Afegiràs una proposta a aquest districte:')
				

                $('#step-envia').show();
				if(!optionIsSelected)	{
					$("html, body").animate({ scrollTop: $('#step-distritos').offset().top-100},1000);
					optionIsSelected=true;
				}
				optionIsSelected=true;
				$("#distritoSelect").val(distrito);
                $("#distritoSelect").trigger('change');

			}
			else{
				$('#step-distritos').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-distritos').offset().top-100},1000);
				}); 
			}
			$('#footer').show();
		}

	})

		
	$('a#continue1').on('click',function(event){	//viene de sector
		event.preventDefault()
		

		if( $("#nuevapropuesta").valid()==true){
			$('#step-distritos').hide();
			$("#distritoSelect").val(distrito);
			if(typeof objetivo != 'undefined' && (objetivo.length >5) ){
				$('input#'+objetivo).prop('checked', true); 
				optionIsSelected=true;
				$('input#'+objetivo).trigger('change');
				$('#step-elige h3.titulo1').empty().html('Hem triat per tu l\'objectiu segons la pàgina d\'on vens.<strong> Modifica-ho si creus que va en un altre.</strong>')					
				$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				}); 
				$('#step-envia').show();
				
			}
			else{
				$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				}); 
			}
			$('#footer').show();
		}			
	});

	$('a#show-step-elige').on('click',function(event){
		$('#step-elige-previous').hide();
		$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				});
	});
	
	$("#lista-objetivos input:radio").change(function () {
			$('#form-seleccion-objetivos').find('label').removeClass('active');	
			//$('#step-distritos').show();
			/*$('.nicEdit-panelContain').parent().width('100%');
			$('.nicEdit-panelContain').parent().next().width('98%');
			$('.nicEdit-main').width('100%');

			$('.nicEdit-main').css('min-height','10em');*/
			if($(this).is(':checked')){
				$(this).parent().addClass('active');
			}
			if(!optionIsSelected){	//first time scroll to the send element		 
				$('#step-envia').show();
				$("html, body").animate({ scrollTop: $('#step-envia').offset().top-100},1000);
			}

			optionIsSelected=true;

			
		});

	

	$( "#step-distritos" ).on('change','select',function() {
	  if($(this).val()!=""){
	  	$('div#canvas').fadeIn();
	  	if(!optionIsSelected){	//first time scroll to the send element		 
				$('#step-envia').show();
				$("html, body").animate({ scrollTop: $('#step-envia').offset().top-100},1000);
		}else{
			$('#step-envia').show();
		}
		optionIsSelected=true;	
	  }else{
	  	$('div#canvas').fadeOut();
	  	$('#step-envia').hide();
	  }
	});

	$('#hebuscado').change(function() {
        if($(this).is(':checked')){
        	$('#nuevapropuesta').show();
        	$('.nicEdit-panelContain').parent().width('100%');
$('.nicEdit-panelContain').parent().next().width('100%');
$('.nicEdit-main').parent().width('98%');
$('.nicEdit-main').width('98%');
$('.nicEdit-main').height('200px');
        }
        else
        	$('#nuevapropuesta').hide();
    });

});
</script>
{% endblock %}
{% block content %}
<div class="container principal">
	<div class="row">
		<div class="central col-md-8">
			<h1 > ELS PROBLEMES I SOLUCIONS PER A BURJASSOT SÓN MOLTS I COMPLEXOS... <br/>¿QUÈ PROPOSES? </h1>
					<div style="margin-bottom:0px;"  ><p> Necessitaràs <strong> només dos simples passos</strong> per enviar una proposta. Hauràs d'indicar la teva nova mesura i després assignar-la sota una categoria o un districte de la ciutat </p>
						<div style="margin-bottom:0px; font-size:1.4em; text-align:center; padding: 4px; background-color:rgb(0, 164, 140); line-height:1.5em; color:white; "> 
							<a href="index.php#sectores" style="color:black; text-decoration:underline">Explora les que hi ha</a> abans d'enviar-ne una nova: 						
							<br/>
							<strong> Si trobes una proposta similar a la teva, dóna-li suport i aporta les teves modificacions en els comentaris.
							</strong>
																					
							<form role="form" id="search-form" action="buscar.php" method="post" target="_blank" style="margin-top:1em;">
								<div class="row">
									<div class="col-xs-12  col-md-6">		
									  	<div class="form-group">						  		
											<input type="text" class="form-control" id="buscar" name="buscar" placeholder="Paraules clau" />				    
										</div>
									</div>
									<div class="col-xs-12  col-md-6">	
									  	<button type="submit" class="btn btn-default btn-success btn-block">Cercar!</button>									  	
									</div>
								</div>
							</form>	
							
						</div>
					</div>					
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1">
				<div class="checkbox">
			    <label style="font-size:1.3em">
			      <input type="checkbox" name="hebuscado" id="hebuscado"> <strong>De veritat, no he trobat cap que s'assembli :-)</strong>
			    </label>
			  </div>
			</div>
		</div>
	</div>
	<form class="form-horizontal" role="form" id="nuevapropuesta" action="nueva.php" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="central col-md-8">			
				<div id="step-escribe">
					
						
					    		<h3>1. Descriu la teva proposta de forma clara i breu: </h3>	
					<div class="col-xs-10 col-md-offset-1">
					  <div class="form-group">
					    <label for="titulo">Títol *</label>
					    <input type="text" name ="titulo" class="form-control" id="titulo"
					           placeholder="Títol de la proposta">
					  </div>
					</div>
					
					<div class="col-xs-10 col-md-offset-1">
					  <div class="form-group">
					    <label for="propuesta">Escriu la proposta *</label>
					    <textarea class="form-control" name="propuesta" id="propuesta" rows="10"></textarea> 
					  </div>
					  <div> <h4> Pots classificar la teva proposta com associada a un districte de Burjassot o en general per a tota la ciutat associada a un objectiu </h4> </div>
					  <div class="col-sm-5" style="margin-top:5px">
					  	<a href="#" id="continue1" class="btn-lg btn-block btn btn-success"> Per tota la ciutat</a> 
					  </div>
					  <div class="col-sm-5" style="margin-top:5px">
					  	<a href="#" id="continue2" class="btn-lg btn-block btn btn-success"> Associada a un districte</a>
					  </div>
					</div>
				</div>			
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<div class="barra-der">
					{% include 'sidebar.html' %}
				</div>
			</div>
		</div> <!-- row-->
		<div class="row">
			<div id="step-elige-previous">
				<div class="col-xs-12" >
					<small> 2. La teva proposta es centra en un districte, ens saltem el pas 2. <br/>
					Si ens hem equivocat i és per tota la ciutat <a href="#" id="show-step-elige">prem aquí i escull la seva categoria:</a> </small>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="step-elige">
				<div class="col-xs-12" id="lista-objetivos">
					<h3 class="titulo1"> 2. Tria <strong>un objectiu </strong> per a la teva proposta: </h3>
					<div class="form-group" id="form-seleccion-objetivos"  >
					<input type="radio" name="sector" class=" " id="empty_radio" value="" checked style="display:none">
						<div class="row"> 		    		
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-derechos-equidad">
									<h3> Drets socials i equitat</h3>
								</div>
							</div>
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-ciudad-sostenible">
									<h3> Ciutat sostenible, cohesionada i propera </h3>
								</div>
							</div>
						</div>
						<div class="row"> 		
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-gobierno-democratico">
									<h3> Govern democràtic, transparent i eficaç</h3>
								</div>
							</div>
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-economia-empleo">
									<h3> Economia sostenible i treball de qualitat</h3>
								</div>
								<div class="apuesta" id="objetivo-sin-objetivo">
									<br/>
									<label class="objetivo" style="color:#000"><input type="radio" name="sector" class="" id="" value="sin-categoria"> No sé on encaixar-la. </label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="step-distritos">
			<h3 class="titulo1"> 3. La teva mesura es centra un districte: </h3>
			<div class="row" id="distritos-inner">				
				<div class="col-md-6">
					<div id="info-distrito">
						<div id="nombre-distrito">
							<div class="form-group">
								<select value="" id="distritoSelect" name="barrio" class="form-control">
									<option value="">Tria districte </option>
								</select>
							</div> 
						</div> 
						<div id="datos-distrito"> </div>
					</div>
					
					<div class="info-ayuda">
						
					</div>										
				</div>
				<div class="col-md-6 hidden-sm hidden-xs">
					<div id="canvas">
						<div id="paper"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="step-envia">
			<div class="row">
						<h3>4. Fet! Prem per enviar la teva proposta.</h3>
						
						<button type="submit" id="enviar" class="btn-lg btn-block btn btn-success">Enviar</button>
						<span class="mini-texto-ayuda"> *Nota: un cop ho facis ja no podràs editar la teva proposta</span>
			</div>
		</div>
				
			
</form>
</div> <!--container principal-->




{% endblock %}
